header.task-header
  nav.task-type-area
    a.task-type(
      href="javascript:void(0)"
      ng-click="filterTasks('all')"
      ng-class="{current: tasksType == 'all'}"
    )
      | 全てのタスク
      br
      span ({{allTasks.length}})
    a.task-type(
      href="javascript:void(0)"
      ng-click="filterTasks('pending')"
      ng-class="{current: tasksType == 'pending'}"
    )
      | 未完了タスク
      br
      span ({{pendingTasks.length}})
    a.task-type(
      href="javascript:void(0)"
      ng-click="filterTasks('done')"
      ng-class="{current: tasksType == 'done'}"
    )
      | 完了タスク
      br
      span ({{doneTasks.length}})
